extends /wedding-base

block variables
  - body_class = "f2"
  - main_class = "fill4_5"
  - nav_class = "fill1_5"

block primary
  article.view
    header.view--hdr.space-below
      h1.typ-poster Hotels
    .view--bd
      ul.arrange
        for hotel in hotels
          li.hotel.copy.fill1_3.pad-xy50.arrange--itemFit
            header.hotel--hdr.space-below50
              h2.typ-subhead= hotel.name
            dl.hotel--data
              li
                dt cost
                dd= hotel.cost 
              li
                dt block duration
                dd!= hotel.duration
              li
                dt address
                dd
                  span #{ hotel.address },
                  span #{ hotel.city }, #{ hotel.state } #{ hotel.zip }
              li
                dt phone
                dd= hotel.phone
              li: p= hotel.message
            footer.hotel--ftr.space-above
              menu(type="toolbar").hotel--actionbar.reverse.enh-stacked
                a.btn-outbound.pad-xy50(href=hotel.map_link, target="_blank") Map it
                a.btn-outbound.pad-xy50(href=hotel.link) Reserve at #{ hotel.short_name }