!!! 5
html(lang="en-US", ng-app="imfirst", id="ng-app").no-js
  head

    meta(charset="utf-8")
    // if IE
      <meta http-equiv="imagetoolbar" content="no" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    title
      block page_title
	| #{ title }

    if canonical
      link(rel="canonical", href="#{ canonical }")

    if description
      meta(name="description", content="#{ description }")

    if author
	meta(name="author", content="#{ author }")
	link(rel="author", href="#{ STATIC_URL }humans.txt")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable",content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

    if favicon
      link(rel="shortcut icon", href="#{ STATIC_URL }#{ favicon }")
    if appleicon
      link(rel="apple-touch-icon", href="#{ STATIC_URL }#{ appleicon }")

    link(rel="stylesheet", href="#{ STATIC_URL }css/default.css")
    //- link(rel="stylesheet", href="#{ STATIC_URL }css/enhanced.css", media="screen and (min-width:605px)")
    //- link(rel="stylesheet", href="#{ STATIC_URL }css/extended.css", media="screen and (min-width:1025px)")

    block extra_css

    if supportIE7
      // if lte IE 7
	link(rel="stylesheet", href="#{ STATIC_URL }css/ie7.css")
    if supportIE8
      // if IE 8
	link(rel="stylesheet", href="#{ STATIC_URL }css/ie8.css")
    if supportIE9
      // if lte IE 9
	link(rel="stylesheet", href="#{ STATIC_URL }css/ie9.css")

    // if lte ie8
      script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

    if typekit
      script(src="//use.typekit.net/#{ typekit }.js")
      script.
	try{Typekit.load();}catch(e){}

  body(dir="ltr", ontouchstart="", onmouseover="")
    // if lt IE 8
      p.chromeframe.
	Your browser isn't <em>supported</em>
	<a href="http://browsehappy.com/">Upgrade to a different browser</a> or
	<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.

    .cr-main
      block primary

      block secondary

    //- JAVASCRIPT
    if jQuery
      script(src="//ajax.googleapis.com/ajax/libs/jquery/#{ jQuery }/jquery.min.js")
      script.
	window.jQuery || document.write('<script src="#{ STATIC_URL }js/jquery.js"><\/script>')

    if Angular
      script(src="#{ STATIC_URL }js/angular/angular.min.js")
      script(src="#{ STATIC_URL }js/main.js")

    block extra_js

    //-
      Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your sites ID.
      mathiasbynens.be/notes/async-analytics-snippet
    if sitekey
      script.
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', '#{ sitekey }', '#{ domain }');
	ga('send', 'pageview');

    //- this must be included for live reload to work in developement
    //- it will be automatically ignored when deployed
    != livereload